@model IEnumerable<TooDooWebRole.Models.TooDooEntry>

@{
    ViewBag.Title = "Below is the status of TooDoos you've opened";
}

<h2>TooDoos you've assigned</h2>

<p>
    Track the progress of your assignments and reward (generously?) those who fulfilled their tasks
</p>
<a href="/Tasks/Create">Create a New TooDoo</a>
<br /><br /> 
<table class="table table-striped">
    <tr>
        <th>Thing TooDoo</th>
        <th>Assigned To</th>
        <th>Status</th>
        <th>Creation date</th>
    </tr>

@foreach (var item in Model) {
    if (item.IsDone)
    {
    <tr>
        
        <td style="background-color: #00ff00;">
            @Html.ActionLink(item.Title, "ViewFixed", new { id=item.TooDooId }, null)          
        </td>
        <td style="background-color: #00ff00;">
            @Html.DisplayFor(modelItem => item.Owner)
        </td>
        <td style="background-color: #00ff00;">
            <span>Fixed</span>
        </td>
        <td style="background-color: #00ff00;">
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
    </tr>
    }
    else
    {
    <tr>        
        <td>
            @Html.DisplayFor(modelItem => item.Title)             
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner)
        </td>
        <td>
            <span>Open</span>   
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
    </tr>
    }
}

</table>
