@model TooDooWebRole.Models.TooDooEntry

@{
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h2 style="max-width:500px;word-break:break-all">@Html.DisplayFor(model => model.Title)</h2>
    <p>
        Assigned to you by: <i>@Html.DisplayFor(model => model.CreatedBy)</i>
    </p>
    <br />

    <fieldset class="form-horizontal">
        <legend>Update TooDoo</legend>

        @Html.HiddenFor(model => model.TooDooId)
        @Html.HiddenFor(model => model.Title)
        @Html.HiddenFor(model => model.IsRewarded)

        <table class="table table-striped">
            <tr>
                <th style="width:180px;text-align:center;max-width:180px;word-break:break-all;">
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
                <td style="text-align:start;max-width:500px;word-break:break-all;">
                    @Html.DisplayFor(model => model.Notes)
                </td>
            </tr>
        </table>
        <div class="form-group">
            <label class="control-label col-md-2" for="IsDone">Done</label>
			<div class="controls">
				@Html.EditorFor(model => model.IsDone)
				@Html.ValidationMessageFor(model => model.IsDone, null, new { @class = "help-inline" })
                @Html.HiddenFor(model => model.LastModifiedDate, new { Value = DateTime.Now })
			</div>
		</div>

        <div class="form-group">
            @Html.LabelFor(model => model.Report, new { @class = "control-label col-md-2" })
		<div class="controls">
                @Html.TextAreaFor(model => model.Report, new { @style = "height:150px;width:100%;word-break:break-all"})
                @Html.ValidationMessageFor(model => model.Report, null, new { @class = "help-inline" })
            </div>
		</div>

        <div class="form-group">
            <label class="control-label col-md-2" for="photo">Report attachment</label>
			<div class="col-md-10">
                <input type="file" name="photo" />
			</div>
		</div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

